NOTION_API_KEY=secret_xxx
NOTION_DATABASE_ID=373aea3aab0380f0a304e52452c9266d
ACCESS_CODE=changeme
GOOGLE_SERVICE_ACCOUNT_EMAIL=xxx@xxx.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_DRIVE_FOLDER_ID=1X1KdqQtP_AcaMkguMxutHS0Ha6_hzK01
GOOGLE_DRIVE_FOLDER_NON_REMBOURSE_ID=1Q9M35QtJ5D6gt-uimFbSY6s4ym_dOhI5
GOOGLE_DRIVE_FOLDER_REMBOURSE_ID=12MgGKiwKxfbuegDuBiwyJHADFSOF8W8R
